body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: dark brown;
    padding: 20px;
    text-align: center;
}

nav {
    overflow: hidden;
    background-color: tan;
    padding: 10px;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: brown;
    color: black;
}

main {
    padding: 20px;
}

.recipe {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.recipe h2 {
    margin-top: 0;
}

.ingredients ul {
    list-style-type: none;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: light green;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
